@font-face {
    font-family: 'Neue Helvetica';
    src: local('Helvetica Neue'), local('Helvetica');
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Neue Helvetica', Arial, sans-serif;
    overflow-x: hidden;
    background-color: #000;
    color: #eee;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 80px;
    background-color: #fff;
    width: 270px;
    cursor: pointer;
}

.title {
    border: 12px solid black;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

header a {
    text-decoration: none;
}


#menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 0;
    /*height: 100vh;*/
    background-color: white;
    overflow: hidden;
    /*border-left: 1px solid black;*/
    transition: width 0.3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    padding: 0;
}

#menu a {
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
}

#menu.open {
    width: 270px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-item img {
    width: 100%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    object-fit: cover;
}

.product-item img:hover {
    filter: invert(1);

}

.product-name {
    font-size: 18px;
    margin-top: 8px;
    text-align: left;
}


.product-page {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 2vh auto;
    max-width: 1200px;
    transition: 0.3s ease-in 0s;
}

.product-info {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly */
    height: 100%; /* Ensure the block takes the full height */
    padding: 32px 20px;
    border-left: 4px solid #fff;
    border-radius: 32px;
}

.product-image {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the image horizontally as well */
}

.product-info h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #fff;
}

.product-description {
    margin-bottom: 20px;
    flex-grow: 1; /* Allow the description to take up available space */
}

.product-price {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-top: auto; /* Push the price to the bottom */
}

.product-image img {
    max-width: 100%;
    width: calc(100% - 32px);
    height: auto;
    border-radius: 8px;
    height: auto;
    border-radius: 32px;
    border: 4px solid #fff;
    padding: 20px;
    border-width: 0 4px 0 0;
}

.product-links ul {
    list-style-type: none;
    margin: 12px 0;
    padding: 0;
}

.product-links a {
    text-decoration: none;
}

.product-links ul li {
    border: 4px solid #fff;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}

.product-links ul li.link-block:hover {
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
}

.product-links ul li.links-label {
    border: none;
    padding: 14px 18px;
    background-color: #fff;
    color: #000;
}

/* and (max-width:800px){ */
@media screen and (max-width:1780px) {
    .product-grid, .product-page {
        margin-top: 80px;
    }
}

@media screen and (max-width:1000px) and (min-width: 500px) {
    .product-info, .product-image {
        flex: 1 1 42%;
    }
}

@media screen and (max-width:660px) {
    .product-info, .product-image {
        flex: 1 1 50%;
    }
}

